@use '../../styles' as *;

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(40);
    left: 0;
    top: rem(32);
    z-index: 10;

    
    @media screen and (max-width: point(md)) {
        padding: 0 rem(24);
    }
}

header .logo {
    width: rem(40);
    height: rem(40);

    svg {
        width: 100%;
        height: 100%;
    }
}

header nav {
    display: flex;
    margin-right: auto;

    @media screen and (max-width: point(md)) {
        display: none;
    }
    

    a {
        position: relative;
        overflow: hidden;
        display: block;
        @include font-fors-medium;
        font-size: font(15);
        padding: rem(10) rem(24);
        text-transform: uppercase;
        color: color(common);
        letter-spacing: 0.04em;
        opacity: .8;

        span {
            opacity: 0;
            visibility: hidden;
        }
    }

    a::before, a::after {
        content: attr(data-text);
        position: absolute;
        display: block;
        left: 50%; top: 50%;
        white-space: nowrap;
    }
    a::before { transform: translate3d(-50%, -50%, 0); transition: transform .4s ease-in-out;}
    a::after { transform: translate3d(-50%, 110%, 0); color: color(secondary); transition: transform .3s ease-in-out;}

    a:hover {
        &::before { transform: translate3d(-50%, -210%, 0); }
        &::after { transform: translate3d(-50%, -50%, 0); }
    }

}

header > :last-child { margin-left: rem(16); }