@use '../../styles' as *;

header {
    --scrolled-duration: 1s;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    left: 0;
    z-index: 10;
    top: 0;
    padding: rem(32) rem(40);
    transition: background-color var(--scrolled-duration) ease;
    
    @media screen and (max-width: point(md)) {
        padding: rem(16) rem(24);
    }


    &::before {
        position: absolute;
        content: "";
        top: 100%;
        left: 0; right: 0;
        height: rem(50);
        background: linear-gradient(180deg, #161315 0%, rgba(22, 19, 21, 0.991353) 6.67%, rgba(22, 19, 21, 0.96449) 13.33%, rgba(22, 19, 21, 0.91834) 20%, rgba(22, 19, 21, 0.852589) 26.67%, rgba(22, 19, 21, 0.768225) 33.33%, rgba(22, 19, 21, 0.668116) 40%, rgba(22, 19, 21, 0.557309) 46.67%, rgba(22, 19, 21, 0.442691) 53.33%, rgba(22, 19, 21, 0.331884) 60%, rgba(22, 19, 21, 0.231775) 66.67%, rgba(22, 19, 21, 0.147411) 73.33%, rgba(22, 19, 21, 0.0816599) 80%, rgba(22, 19, 21, 0.03551) 86.67%, rgba(22, 19, 21, 0.0086472) 93.33%, rgba(22, 19, 21, 0) 100%);
        opacity: 0;
        transition: opacity var(--scrolled-duration) ease;
    }
}

header.scrolled {
    background-color: #161315;
    &::before {
        opacity: 1;
    }
}

header .logo {
    width: rem(40);
    height: rem(40);

    svg {
        width: 100%;
        height: 100%;
    }
}

header nav {
    display: flex;
    margin-right: auto;

    @media screen and (max-width: point(md)) {
        display: none;
    }
    

    a {
        position: relative;
        overflow: hidden;
        display: block;
        @include font-fors-medium;
        font-size: font(15);
        padding: rem(10) rem(24);
        text-transform: uppercase;
        color: color(common);
        letter-spacing: 0.04em;
        opacity: .8;

        span {
            opacity: 0;
            visibility: hidden;
        }
    }

    a::before, a::after {
        content: attr(data-text);
        position: absolute;
        display: block;
        left: 50%; top: 50%;
        white-space: nowrap;
    }
    a::before { transform: translate3d(-50%, -50%, 0); transition: transform .4s ease-in-out;}
    a::after { transform: translate3d(-50%, 200%, 0); color: color(secondary); transition: transform .3s ease-in-out;}

    a:hover {
        &::before { transform: translate3d(-50%, -300%, 0); }
        &::after { transform: translate3d(-50%, -50%, 0); }
    }

}

header > :last-child { margin-left: rem(16); }

header {
    .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: stretch;

        > :nth-child(2) {
            margin: 0 rem(16);
        }

        > :last-child svg {
            width: rem(24);
            height: rem(24);
            transition: transform .3s ease;
        }

        > :last-child:hover > button > svg {
            transform: scale(1.1);
        }

        button {
            height: 100%;
            opacity: .6;
        }

        @media screen and (max-width: point(sm)) {
            button {
                padding: rem(8) rem(16) !important;
            }

            > :nth-child(2) {
                margin: 0 rem(8);
            }

            > :last-child {
                margin-right: rem(-8);

                button {
                    padding: rem(4) !important;
                }
            }
        }
    }
}