@use '../../styles' as *;

header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 rem(40);
    left: 0;
    top: rem(32);
    z-index: 10;

    
    @media screen and (max-width: point(md)) {
        padding: 0 rem(24);
    }
}

header .logo {
    width: rem(40);
    height: rem(40);

    svg {
        width: 100%;
        height: 100%;
    }
}

header nav {
    display: flex;
    margin-right: auto;

    @media screen and (max-width: point(md)) {
        display: none;
    }
    

    a {
        position: relative;
        overflow: hidden;
        display: block;
        @include font-fors-medium;
        font-size: font(15);
        padding: rem(10) rem(24);
        text-transform: uppercase;
        color: color(common);
        letter-spacing: 0.04em;
        opacity: .8;

        span {
            opacity: 0;
            visibility: hidden;
        }
    }

    a::before, a::after {
        content: attr(data-text);
        position: absolute;
        display: block;
        left: 50%; top: 50%;
        white-space: nowrap;
    }
    a::before { transform: translate3d(-50%, -50%, 0); transition: transform .4s ease-in-out;}
    a::after { transform: translate3d(-50%, 200%, 0); color: color(secondary); transition: transform .3s ease-in-out;}

    a:hover {
        &::before { transform: translate3d(-50%, -300%, 0); }
        &::after { transform: translate3d(-50%, -50%, 0); }
    }

}

header > :last-child { margin-left: rem(16); }

header {
    .buttons {
        display: flex;
        justify-content: flex-end;
        align-items: stretch;

        > :nth-child(2) {
            margin: 0 rem(16);
        }

        > :last-child svg {
            width: rem(24);
            height: rem(24);
            transition: transform .3s ease;
        }

        > :last-child:hover > svg {
            transform: scale(1.1);
        }

        button {
            height: 100%;
        }

        @media screen and (max-width: point(sm)) {
            button {
                padding: rem(8) rem(16) !important;
            }

            > :nth-child(2) {
                margin: 0 rem(8);
            }

            > :last-child {
                padding: rem(4) !important;
            }
        }
    }
}