@use '../../styles' as *;

.welcome {
    position: relative;
    z-index: 1;
    padding: rem(96) rem(190);
}

.welcome__canvas {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: auto;
    z-index: -1;

    canvas,
    .welcome__canvas-nfts {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0; left: 0;
    }

    .welcome__canvas-shadow {
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: auto;
    }

    .welcome__canvas-ground {
        width: 100%;
        height: auto;
    }

    .welcome__canvas-nfts {
        .nft-common {
            position: absolute;
            top: 16%;
            left: calc(50% + 5%);
            width: rem(450);
            height: auto;
        }
        .nft-rare {
            position: absolute;
            top: 40%;
            left: 42%;
            width: rem(400);
            height: auto;
        }
        .nft-legendary {
            position: absolute;
            top: 50%;
            left: 68%;
            width: rem(350);
            height: auto;
        }
    }
    
}

.welcome__text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: rem(144);

    h1 {
        position: relative;
        @include font-fors-regular;
        color: color(primary);
        margin-right: auto;
        text-align: left;
        font-size: font(70);
        span { @include font-fors-demibold; }
    }
    h1::before {
        content: 'welcome to';
        position: absolute;
        @include font-fors-demibold;
        font-size: font(18);
        left: 0; top: - rem(8);
        text-transform: uppercase;
    }

    .welcome__action-buttons {
        display: flex;
        justify-content: flex-start;
        margin-right: auto;
        margin-top: rem(24);
        > :last-child { margin-left: rem(24); }
    }

    .welcome__description {
        display: flex;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        margin-top: rem(77);
    }
    .welcome__description-card {
        --card-color: rgba(43, 39, 41, 90%);
        width: rem(331);
        border-radius: rem(20);
        background-color: var(--card-color);
        box-shadow: 0px rem(24) rem(56) rgba(0, 0, 0, 0.32);
        padding: rem(32) rem(40);
        color: color(primary);
        &:nth-child(2) { margin: 0 rem(32); }
    }
    .welcome__description-card {
        h3 {
            @include font-fors-medium;
            font-size: font(24);
            text-transform: uppercase;
            line-height: rem(26);
            letter-spacing: -0.01em;
        }
        p {
            @include font-fors-regular;
            font-size: font(15);
            line-height: rem(24);
            letter-spacing: -0.01em;
            margin-top: rem(12);
        }
    }
}

