@use "../../../styles" as *;

:root {
    --toast-success-background: rgba(28, 158, 80, 1);
    --toast-error-background: rgb(158, 28, 39);
    --toastify-toast-width: auto !important;
}

.toast-close {
    @include font-fors-medium;
    font-size: font(12);
    letter-spacing: 0.065em;
    text-transform: uppercase;
    color: color(primary);
    margin-right: rem(12);
}

.Toastify__toast-icon {
    width: rem(40);
    height: rem(40);
    min-width: rem(40);
    min-height: rem(40);
}

.toast-icon {
    width: rem(40);
    height: rem(40);
    min-width: rem(40);
    min-height: rem(40);
    svg {
        width: 100%;
        height: 100%;
        min-width: 100%;
        min-height: 100%;
    }
}

.toast-message {
    @include font-fors-demibold;
    font-size: rem(16);
    line-height: rem(15);
    color: color(primary);
    margin-right: rem(120);
}

.toast-subtitle {
    @include font-fors-medium;
    font-size: rem(12);
    color: color(primary);
    margin-top: 4px;
}

.toast-success-wrapper, .toast-error-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--toast-success-background) !important;
    border-radius: rem(12) !important;
    box-shadow: 0 24px 56px rgba(0, 0, 0, 0.32), inset 2px -2px 2px rgba(165, 133, 145, 0.12), inset -2px 2px 2px rgba(255, 255, 255, 0.12) !important;
    @media screen and (max-width: point(sm)) {
        border-radius: 0 !important;
    }
}
.toast-error-wrapper {
    background: var(--toast-error-background) !important;
}

.toast-success-progress-bar, .toast-error-progress-bar {
    background: color(primary) !important;
}