@use '../../styles' as *;

.join {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(100) rem(190);

    h2 {
        @include font-fors-medium;
        font-size: font(40);
        line-height: rem(40);
        letter-spacing: -0.01em;
        color: color(common-3);
        text-transform: uppercase;
        text-align: center;
        margin: 0 rem(20);

        span {
            display: inline-block;
            animation: skew 2s infinite cubic-bezier(.89,0,.1,1);
        }
    }

    a { transition: .3s ease-in-out; }
    a:hover { transform: translate3d(0, - rem(8), 0); }
    a:hover::before { opacity: .8; }
}

.join__discord, .join__telegram {
    position: relative;
    width: rem(80);
    height: rem(80);

    img {
        position: absolute;
        top: 71%; left: 50%;
        transform: translate(-50%, -50%);
        width: rem(120);
        height: auto;
    }

    &::before {
        content: '';
        position: absolute;
        width: rem(354);
        height: rem(76);
        background-image: url(./assets/arrow-huge.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: .2;
        transition: opacity .3s;
    }
}
.join__telegram::before {
    right: 55%;
    bottom: 110%;
}
.join__discord::before {
    transform: scale(-1);
    left: 55%;
    top: 110%;
}

.join__instagram, .join__twitter {
    position: relative;
    width: rem(120);
    height: rem(120);

    img {
        position: absolute;
        top: 67%; left: 50%;
        transform: translate(-50%, -50%);
        width: rem(180);
        height: auto;
    }

    &::before {
        content: '';
        position: absolute;
        width: rem(150);
        height: rem(24);
        background-image: url(./assets/arrow-small.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        opacity: .2;
        transition: opacity .3s;
    }
}
.join__twitter::before {
    right: 55%;
    top: 110%;
}
.join__instagram::before {
    transform: scale(-1);
    left: 55%;
    bottom: 110%;
}

@keyframes skew {
    from {
        transform: skewX(-5deg);
    }
    50% {
        transform: skewX(5deg);
    }
    to {
        transform: skewX(-5deg);
    }
}