@use '../../../styles' as *;

.utility {
    position: relative;
    padding: rem(120) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: rem(120);

    &::before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 300vw;
        top: 50%; left: 0;
        transform: translateY(-50%);
        background: url(./assets/blur.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: -1;
    }

    h2 {
        @include font-fors-medium;
        font-size: font(40);
        letter-spacing: -0.01em;
        line-height: rem(40);
        text-transform: uppercase;
        color: color(common-3);
        margin-left: rem(190);
    }

    .carousel {
        width: 100%;
        margin-top: rem(56);
    }

    .card {
        position: relative;
        height: rem(478);
        width: rem(395);
        border-radius: rem(20);
        padding: rem(24) rem(32);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background: rgba(255, 255, 255, 0.08);
        box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.16);
        color: color(common-3);
        font-size: font(24);

        svg {
            width: rem(120);
            height: rem(130);
            margin-left: - rem(16);
        }

        h4 {
            @include font-fors-medium;
            font-size: font(24);
            letter-spacing: -0.01em;
            line-height: rem(24);
            text-transform: uppercase;
            color: color(common-3);
        }

        p {
            @include font-fors-regular;
            font-size: font(17);
            line-height: rem(28);
            color: color(common-2);
            margin-top: rem(12);
        }

        &::before {
            content: attr(data-text);
            display: block;
            position: absolute;
            left: 0;
            bottom: calc(100% + rem(16) );
            @include font-fors-medium;
            letter-spacing: -0.01em;
            line-height: rem(32);
            text-transform: uppercase;
        }
    }
}

.swiper {
    padding: rem(40) 0 !important;

    .swiper-slide {
        width: auto !important;
        margin-left: rem(40);

        &:first-child {
            margin-left: rem(190);
        }
    }

    .swiper-scrollbar {
        margin-left: rem(180);
        width: calc(100% - rem(180) * 2) !important;
        background: rgba(255, 255, 255, .2);

        .swiper-scrollbar-drag {
            background: color(primary);
            width: rem(405) !important;
        }
    }
}