@use '../../../styles' as *;

$first-column-width: rem(122);
$second-column-width: rem(104);

.roadmap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: rem(120) rem(190);
    color: color(primary);
    margin-top: rem(400);

    h2 {
        @include font-fors-medium;
        font-size: font(40);
        letter-spacing: -0.01em;
        line-height: rem(40);
        text-transform: uppercase;
        color: color(common-3);
    }
}

.roadmap__scheme {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: rem(72);

    .roadmap__row {
        display: grid;
        grid-template-columns: $first-column-width $second-column-width auto;
        width: 100%;
        &:not(:nth-child(2)) { margin-top: rem(64); }

        p span, h4 {
            opacity: 0.4;
        }

        p.done span, h4.done {
            opacity: 1;
        }
    }
}

.roadmap__scheme {
    h4 {
        @include font-fors-medium;
        font-size: font(24);
        line-height: rem(36);
    }

    p {
        position: relative;
        @include font-fors-regular;
        font-size: font(24);
        line-height: rem(40);

        &:not(:first-child) {
            margin-top: rem(14);
        }

        span {
            margin-right: rem(8);
        }

        &:first-child {
            &::before {
                content: '';
                position: absolute;
                width: rem(32);
                height: rem(32);
                top: 50%;
                right: calc(100% + $second-column-width / 2);
                transform: translateY(-50%);
                background: url(./assets/radio.svg) no-repeat;
                background-size: contain;
            }
        }
    }
    p.done {
        &:first-child {
            &::before {
                content: '';
                position: absolute;
                width: rem(32);
                height: rem(32);
                top: 50%;
                right: calc(100% + $second-column-width / 2);
                transform: translateY(-50%);
                background: url(./assets/radio-active.svg) no-repeat;
                background-size: contain;
            }
        }
        &:not(:first-child) {
            &::before {
                content: '';
                position: absolute;
                width: rem(24);
                height: rem(24);
                top: 50%;
                right: calc(100% + $second-column-width / 2 + rem(4));
                transform: translateY(-50%);
                background: url(./assets/radio-active.svg) no-repeat;
                background-size: contain;
            }
        }
    }

    .roadmap__scheme-divider {
        position: absolute;
        top: 0; left: 15%;
        width: 1px;
        height: 100%;
        background: #2C262A;

        .divider {
            width: 100%;
            background: #F1EFF0;
        }
    }
}