@use '../../../styles' as *;

$first-column-width: rem(122);
$second-column-width: rem(104);

.roadmap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: rem(120) rem(190);
    color: color(primary);
    margin-bottom: rem(500);
    position: relative;
    transition: margin-top 1s ease, max-height 1s ease;

    @media screen and (max-width: point(md)) {
        margin-bottom: rem(200);
        padding: rem(60) rem(25);
        max-height: 90vh;
        overflow: hidden;
    }

    h2 {
        @include font-fors-medium;
        font-size: font(40);
        letter-spacing: -0.01em;
        line-height: rem(40);
        text-transform: uppercase;
        color: color(common-3);
    }
}

.roadmap__scheme {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-top: rem(72);
    @media screen and (max-width: point(md)) {
        margin-top: rem(36);
    }

    .roadmap__row {
        display: grid;
        grid-template-columns: $first-column-width $second-column-width auto;
        width: 100%;
        &:not(:nth-child(2)) { margin-top: rem(64); }
        @media screen and (max-width: point(md)) {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr -1fr 1fr;
            > div:first-child { margin-bottom: rem(16); }
            &:not(:nth-child(2)) { margin-top: rem(32); }
        }

        p span, h4 {
            opacity: 0.4;
        }

        p.done span, h4.done {
            opacity: 1;
        }
    }
}

.roadmap__scheme {
    h4 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include font-fors-medium;
        font-size: font(24);
        line-height: rem(36);
    }

    p {
        position: relative;
        @include font-fors-regular;
        font-size: font(24);
        line-height: rem(40);

        &:not(:first-child) {
            margin-top: rem(14);
        }

        span {
            margin-right: rem(8);
        }

        &:first-child {
            &::before {
                content: '';
                position: absolute;
                width: rem(32);
                height: rem(32);
                top: 50%;
                right: calc(100% + $second-column-width / 2);
                transform: translateY(-50%);
                background: url(./assets/radio.svg) no-repeat;
                background-size: contain;
                @media screen and (max-width: point(md)) {
                    display: none;
                }
            }
        }
    }
    p.done {
        &:first-child {
            &::before {
                content: '';
                position: absolute;
                width: rem(32);
                height: rem(32);
                top: 50%;
                right: calc(100% + $second-column-width / 2);
                transform: translateY(-50%);
                background: url(./assets/radio-active.svg) no-repeat;
                background-size: contain;
                @media screen and (max-width: point(md)) {
                    display: none;
                }
            }
        }
        &:not(:first-child) {
            &::before {
                content: '';
                position: absolute;
                width: rem(24);
                height: rem(24);
                top: 50%;
                right: calc(100% + $second-column-width / 2 + rem(4));
                transform: translateY(-50%);
                background: url(./assets/radio-active.svg) no-repeat;
                background-size: contain;
                @media screen and (max-width: point(md)) {
                    display: none;
                }
            }
        }

        @media screen and (max-width: point(md)) {
            text-decoration: line-through;
        }
    }


    @media screen and (max-width: point(md)) {
        h4.all-done {
            &::before {
                content: '';
                width: rem(32);
                height: rem(32);
                margin-right: rem(8);
                background: url(./assets/radio-active.svg) no-repeat;
                background-size: contain;
            }
        }
    }


    .roadmap__scheme-divider {
        position: absolute;
        top: 0;
        left: calc($first-column-width + $second-column-width / 2 - rem(16));
        width: 1px;
        height: 100%;
        background: #2C262A;
        @media screen and (max-width: point(md)) {
            display: none;
        }

        .divider {
            width: 100%;
            background: #F1EFF0;
        }
    }
}

.roadmap.active {
    @media screen and (max-width: point(md)) {
        margin-bottom: rem(800);
        max-height: 500vh;
    }

    .roadmap__button {
        opacity: 0; 
        visibility: hidden;
    }
}

.roadmap__button {
    display: none;

    @media screen and (max-width: point(md)) {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: rem(300);
        left: 0; bottom: 0;
        background: linear-gradient(0deg, #161315 30%, rgba(#161315, .9) 90%, rgba(0, 0, 0, 0) 100%);
        transition: opacity .5s ease, visibility .5s ease;
    }
}