@use '../../../styles' as *;

.about {
    display: flex;
    justify-content: space-between;
    padding: rem(120) rem(190);

    @media screen and (max-width: point(md)) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: rem(0) rem(24);
    }
}

.about__collection {
    position: relative;

    .nft-preview-blur {
        position: absolute;
        width: 200%;
        height: auto;
        top:50%; left: 60%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .nft-preview {
        width: rem(505);
        height: auto;
        margin-bottom: -10%;

        @media screen and (max-width: point(md)) {
            width: 100%;
            margin-bottom: -20%;
        }
    }
}

.about__text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: rem(80);
    position: relative;
    @media screen and (max-width: point(md)) {
        margin-left: 0;
        align-items: center;
    }

    h2 {
        @include font-fors-medium;
        font-size: font(40);
        line-height: rem(40);
        letter-spacing: -0.01em;
        color: color(common-3);
        text-transform: uppercase;
        @media screen and (max-width: point(md)) {
            text-align: center;
        }
    }

    p {
        @include font-fors-regular;
        font-size: font(20);
        line-height: rem(36);
        color: color(common-2);
        margin: rem(24) 0;
        span:not(:first-child) { margin-top: rem(14); display: block; }
        @media screen and (max-width: point(md)) {
            text-align: center;
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 200%;
        height: 200%;
        background-image: url(./assets/blur.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        top: -30%; left: -15%;
        transform-origin: center center;
        animation: translate 15s linear infinite;
        z-index: -1;
    }
}

@keyframes translate {
    from {
        transform: translate(0);
    }
    50% {
        transform: translate(- rem(150), rem(100));
    }
    to {
        transform: translate(0);
    }
}