@use '../../styles' as *;

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: rem(120) rem(190);
    @media screen and (max-width: point(md)) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: rem(64) rem(24);
    }

    .copyright {
        @include font-fors-regular;
        font-size: font(15);
        line-height: rem(32);
        color: color(primary);
        opacity: .6;
        @media screen and (max-width: point(md)) {
            text-align: center;
        }
    }

    .message {
        @include font-fors-regular;
        font-size: font(12);
        line-height: rem(17);
        color: color(primary);
        opacity: .4;
        flex: 1;
        margin-left: rem(86);
        @media screen and (max-width: point(md)) {
            margin-left: 0;
            margin-top: rem(24);
            text-align: center;
        }
    }
}