@use "sass:map";

$colors: (
    primary: white,
    accent: #1C9E50,
    secondary: #5968EA,
    common: #ECECEC,
    dark: #1B1B1B,
    body: #161315,
);

@mixin generateColors() {
    @each $name, $color in $colors {
        --color-#{$name}: #{$color};
    }   
}

@function allColors() {
    @return $colors;
}

@function color($name) {
    @if not map.get($colors, $name) {
        @error '"#{$name}" is not a valid color name';
    }
    @return var(--color-#{$name})
}