@use '../../../styles' as *;

.meet {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: rem(120) rem(190);

    @media screen and (max-width: point(md)) {
        padding: 0 rem(24);
    }
}

.meet__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: point(md)) {
        flex-wrap: wrap;
    }

    @media screen and (max-width: point(sm)) {
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: nowrap;
    }

    .meet__header-title {
        @media screen and (max-width: point(md)) {
            width: 100%;
        }
        h2 {
            @include font-fors-medium;
            font-size: font(40);
            line-height: rem(40);
            letter-spacing: -0.01em;
            color: color(common-3);
        }
        svg {
            width: rem(284);
            height: auto;
            margin-top: rem(22);
        }
        @media screen and (max-width: point(md)) {
            margin-bottom: rem(32);
        }

        .x-generation {
            position: relative;
            img {
                position: absolute;
                top: rem(-4);
                left: rem(-50);
                width: rem(200);
            }
        }
    }

    .glass-card {
        --card-color: rgba(197, 158, 172, 0.158);
        padding: rem(32) rem(38);
        border-radius: rem(20);
        background: var(--card-color);
        color: color(primary);
        width: rem(338);
        @include font-fors-regular;
        font-size: font(20);
        letter-spacing: -0.01em;
        line-height: rem(30);
        margin-left: rem(48);
        @media screen and (max-width: point(md)) {
            margin: 0;
        }
        @media screen and (max-width: point(sm)) {
            &:last-child { margin-top: rem(24); }
        }
    }
}

.meet__nft-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    -webkit-overflow-scrolling: touch;

    @media screen and (max-width: point(md)) {
        max-width: calc(100% + rem(24) * 2);
        width: calc(100% + rem(24) * 2);
        overflow-x: scroll;
        flex-direction: row;
        height: rem(800);
        margin-top: rem(-64);
    }

    &::-webkit-scrollbar {
        display: none;
    }
      
    &::-webkit-scrollbar-thumb {
        display: none;
    }
      
    &::-webkit-scrollbar-track {
        display: none;
    }
}

.meet__nft-card {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: rem(430);
    border-radius: rem(30);
    padding: rem(80) rem(112);
    margin-top: rem(64);

    color: color(darkest);
    transition: opacity 1s ease;
    opacity: .1;
    @media screen and (max-width: point(md)) {
        opacity: 1;
    }

    &.common { background: url(./assets/nft-common-pattern.png); margin-top: rem(80); }
    &.rare { background: url(./assets/nft-rare-pattern.png); flex-direction: row-reverse;}
    &.epic { background: url(./assets/nft-epic-pattern.png); color:color(common);}

    &.common, &.rare,
    &.epic {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    &.visible {
       opacity: 1;
    }

    @media screen and (max-width: point(md)) {
        height: rem(533);
        width: 80%;
        min-width: 80%;
        border-radius: rem(20);
        flex-direction: column-reverse !important;
        justify-content: flex-end;
        padding: rem(44) rem(32);
        margin-top: 0 !important;

        &.common {
            margin-left: rem(24);
        }
        &.rare, &.epic {
            margin-left: rem(12);
        }
    }
}

.nft-card__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    @media screen and (max-width: point(md)) {
        width: 100%;
        height: 70%;
        margin-top: auto;
    }

    .title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        h3 {
            @include font-fors-medium;
            font-size: font(56);
            line-height: rem(72);
            letter-spacing: -0.02em;
            @media screen and (max-width: point(md)) {
                font-size: font(40);
            }
        }
        .title__icon {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: rem(45);
            height: rem(42);
            min-width: rem(45);
            min-height: rem(42);
            @include font-fors-bold;
            font-size: font(16);
            margin-left: rem(16);
            margin-top: rem(14);
            flex: 1;
            > div { margin-top: -2px; }
            > div:nth-child(2) { @include font-fors-black; font-size: font(9); }
            svg {
                position: absolute;
                top: 0; left: 0;
                width: 100%; height: 100%;
                min-width: 100%; min-height: 100%;
                display: block;
                @media screen and (max-width: point(sm)) {
                    display: none;
                }
            }
            @media screen and (max-width: point(sm)) {
                margin-left: 0;
                > div {
                    margin-top: -6px;
                }
            }
        }
    }

    .subtitle {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        @include font-fors-medium;
        font-size: font(24);
        line-height: rem(24);
        letter-spacing: -0.01em;
        margin-top: rem(8);
        @media screen and (max-width: point(md)) {
            margin-top: rem(-8);
        }
        svg { 
            cursor: pointer; 
            margin-bottom: -3px; 
            width: rem(24); 
            height: rem(24); 
            min-width: rem(24); 
            min-height: rem(24); 
            border: none;
            outline: none;
            display: block;
            @media screen and (max-width: point(sm)) {
                margin-top: -5px;
            }
        }
    }

    p {
        @include font-fors-regular;
        font-size: font(20);
        line-height: rem(32);
        letter-spacing: -0.01em;
        margin-top: rem(32);
        width: rem(394);
        @media screen and (max-width: point(md)) {
            font-size: font(16);
            margin-top: rem(24);
            width: 100%;
        }
    }
}

.nft-card__image {
    position: relative;
    flex: 1;
    height: 100%;
    @media screen and (max-width: point(md)) {
        width: 100%;
    }

    img {
        position: absolute;
        width: rem(520);
        top: -20%; right: 5%;
        pointer-events: none;

        &.sky { top: 40%; left: 60%; transform: translate(-50%, -50%); }
        @media screen and (max-width: point(lg)) {
            right: -25%;
        }
        @media screen and (max-width: point(md)) {
            width: rem(450);
            left: auto;
            right: -10%;
            &.sky { top: 60%; left: 70%; }
        }
        @media screen and (max-width: point(sm)) {
            width: rem(300);
            left: -8%;
            &.sky { top: 40%; left: 50%; }
        }
    }
}
@keyframes translate {
    from {
        transform: translate3d(0, 0, 0);
    }
    50% {
        transform: translate3d(0, - rem(32), 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.meet__nft-card.rare .nft-card__image img.nft { left: 0%; }
.meet__nft-card.rare .nft-card__image img.sky { left: 35%; }
@media screen and (max-width: point(lg)) {
    .meet__nft-card.rare .nft-card__image img.nft { left: -25%; }
}
@media screen and (max-width: point(md)) {
    .meet__nft-card.rare .nft-card__image img.nft { left: auto; top: -35%; right: -9%; }
    .meet__nft-card.rare .nft-card__image img.sky { left: 55%; }
}

.meet__nft-card.common .nft-card__image img.nft { animation: 10s translate infinite ease; }
.meet__nft-card.rare .nft-card__image img.nft { animation: 10s translate 3s infinite ease; }
.meet__nft-card.epic .nft-card__image img.nft { animation: 10s translate 6s infinite ease; }
@media screen and (max-width: point(md)) {
    .meet__nft-card.epic .nft-card__image img.nft { top: -45%; }
}

.meet__nft {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    margin-top: rem(200);
    color: color(primary);
    @media screen and (max-width: point(md)) {
        margin: 0;
        margin-left: rem(24);
        flex-direction: column;
        height: rem(533);
        width: 80%;
        min-width: 80%;
        overflow: hidden;
        border-radius: rem(20);

        .nft-card__description {
            margin-top: 0;
            margin-bottom: auto;
            height: 50%;
        }
    }
    @media screen and (max-width: point(sm)) {
        margin: 0;
        margin-left: rem(24);
        flex-direction: column;
        height: rem(533);

        .nft-card__description {
            margin-top: 0;
            margin-bottom: auto;
            height: 50%;
        }
    }

    &::after {
        content: '';
        position: absolute;
        width: 120vw;
        height: 400vw;
        top: -1000%; left: 50%;
        transform: translateX(-50%);
        background: url(./assets/blur-2.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: -1;
        animation: 5s scale ease infinite;
        @media screen and (max-width: point(md)) {
            display: none;
        }
    }

    .nft-card__image {
        img {
            width: rem(800);
            left: 20%;
            top: rem(120);
            transform: translate(-50%, -50%);
            pointer-events: none;
        }

        img.platform {
            width: rem(1200);
            left: 40%;
            top: rem(110);
        }

        @media screen and (max-width: point(md)) {
            img {
                width: 50%;
                top: 45%;
                left: 18%;
            }
            img.platform {
                width: 80%;
                left: 34%;
                top: 45%;
                z-index: -1;
            }
        }
        @media screen and (max-width: point(sm)) {
            img {
                width: 100%;
                top: 50%;
                left: 30%;
                z-index: -1;
            }
            img.platform {
                width: 130%;
                left: 50%;
                top: 50%;
                z-index: -1;
            }
        }
    }

    .legendary-wrapper {
        @media screen and (max-width: point(md)) {
            transform: none !important;
        }
    }
}

@keyframes scale {
    from {
        transform: translateX(-50%) scale(1);
    }
    50% {
        transform: translateX(-55%) scale(1);
    }
    to {
        transform: translateX(-50%) scale(1);
    }
}