@use "../../../styles" as *;

.meet__tooltip {
    width: rem(381);
    background: color(primary) !important;
    box-shadow: 0px 31px 80px rgba(0, 0, 0, 0.0325), 0px 15.6938px 34.875px rgba(0, 0, 0, 0.05), 0px 6.2px 13px rgba(0, 0, 0, 0.0675), 0px 1.35625px 4.625px rgba(0, 0, 0, 0.1) !important;
    padding: rem(32) !important;
    border-radius: rem(20) !important;

    &.place-top {
        &::after {
            border-top-color: color(primary) !important;
        }
    }

    &.place-bottom {
        &::after {
            border-bottom-color: color(primary) !important;
        }
    }

    .title {
        @include font-fors-medium;
        font-size: font(24);
        line-height: rem(24);
        letter-spacing: -0.01em;
        color: color(darkest);
        text-transform: uppercase;
    }

    p {
        @include font-fors-medium;
        color: rgba(42, 42, 42, 0.8);
        margin-top: rem(14);
        font-size: font(16);
        line-height: rem(24);
    }
}