@use '../../../styles' as *;

.FAQ {
    position: relative;
    padding: rem(120) rem(190);

    @media screen and (max-width: point(md)) {
        padding: rem(64) rem(24);
    }

    h2 {
        @include font-fors-medium;
        font-size: font(40);
        line-height: rem(40);
        letter-spacing: -0.01em;
        color: color(common-3);
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 300vw;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        background: url(./assets/blur.png);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: -1;
        opacity: .8;
        animation: 5s scaleBlur ease infinite;
        @media screen and (max-width: point(md)) {
            width: 100vw;
            height: 300vw;
            top: 60%;
        }
        @media screen and (max-width: point(sm)) {
            width: 300vw;
            height: 400vw;
            top: 50%;
        }
    }
}

.FAQ__list {
    margin-top: rem(40);
    width: 100%;

    .accordion:not(:first-child) {
        margin-top: rem(8);
    }
}

@keyframes scaleBlur {
    from {
        transform: translate(-50%, -50%) scale(1);
    }
    50% {
        transform: translate(-50%, -50%) scale(1.1);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}