@use './styles/colors';
@use './styles/fonts';
@use './styles/grid';

html {
    @include grid.documentScale;
}

:root {
    @include colors.generateColors;
    @include fonts.generateFonts;
}

@include fonts.importFonts;


* {
    box-sizing: border-box;
}

html {
    scrollbar-color: colors.color(dark) colors.color(secondary);
    scrollbar-width: thin;
    ::-webkit-scrollbar { width: 4px; height: 4px; }
    ::-webkit-scrollbar-track { background-color: colors.color(dark); }
    ::-webkit-scrollbar-thumb { background-color: colors.color(secondary); }
}

body {
    background-color: colors.color(body);
}

a {
    text-decoration: none;
    color: inherit;
    text-transform: none;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

.prevent-scroll {
    position: relative;
    overflow: hidden;
}

html.prevent-scroll {
    height: 100%;
    max-height: 100%;
}
