name: Develop

on: 
  push: 
    branches: 
      - develop

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10, 12, 14]
    steps:
      - uses: actions/checkout@v2
      - name: Install Node.js
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - run: mkdir "$HOME/.ssh"
      - name: Adding Known Hosts
        run: ssh-keyscan -H ${{ secrets.SSH_HOST_DEV }} >> ~/.ssh/known_hosts
      - run: set -eu
      - run: echo "${{ secrets.SSH_PRIV_KEY_DEV }}" > "$HOME/.ssh/SSH_PRIV_KEY"
      - run: chmod 600 "$HOME/.ssh/SSH_PRIV_KEY"
      - run: cd sequoia
      - run: yarn install
      - run: yarn build
      - run: cd build && rsync -e "ssh -i $HOME/.ssh/SSH_PRIV_KEY -o StrictHostKeyChecking=no" --archive --compress --delete . ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST_DEV }}:/var/www/html/